<h2>Welcome <%= @user.first_name %>!</h2>
<br/>
<div class="user-controls">
  <ul>
    <li><%= link_to "Add new jump", new_user_jump_path(@user) %></li>
    <li><%= link_to "View my logbook", user_jumps_path(@user) %></li>
    <li><%= link_to "Edit My Info", edit_user_path(@user) %></li>
    <li><%= link_to "Delete my account", user_path(@user), method: :delete, data: { confirm: "Are you sure?"} %></li>
  </ul>
</div>
<div id="calendar">
  <%= month_calendar events: @jumps do |date, events| %>
  <% binding.pry %>
    <%= date.day %>
    <% my_jumps = events.select {|jump| jump.user_id == current_user.id} %>
    <% other_jumps = events.select {|jump| jump.user_id != current_user.id} %>
    <ul>
      <% if my_jumps.length > 0 %>
        <li><%= link_to "My jumps: #{my_jumps.length}", jump_day_user_jumps_path(@user, date: date, owner: "mine") %></li>
      <% end %>

      <% if other_jumps.length > 0 %>
        <li><%= link_to "Other jumps: #{other_jumps.length}", jump_day_user_jumps_path(@user, date: date, owner: "others") %></li>
      <% end %>
    </ul>
  <% end %>
</div>