<section class="row">
  <div class="small-12 large-6 columns">
    <div class="avatar">
      <%= link_to "X", remove_avatar_user_path(@user) %>
      <%= image_tag(@user.avatar.url) %>
    </div>
    <% if @signature != nil %>
    <strong>My signature: </strong> <%= image_tag @signature.code_url, id: "signature" %>
    <% end %>
  </div>
  <div class="small-12 large-6 columns">
    <div id="my-info">
      <ul>
        <li>My name: <strong><%= @user.first_name %> <%= @user.last_name %></strong></li>
        <li>My email: <strong><%= @user.email %></strong></li>
        <li>My date of birth: <strong><%= @user.dob %></strong></li>
        <li>My license number: <strong><%= @user.license_number %></strong></li>
        <li>Total number of jumps in this logbook: <strong><%= @user.jumps.length %></strong></li>
      </ul>
    </div>
  </div>
</section>
<section class="row" id="user-jumps">
  <div class="small-12 columns">
    <ul id="accordion" class="jump-item">
    <% @user.jumps.each do |jump| %>
      <%= render "jumps/list", jump: jump %>
    <% end %>
    </ul>
  </div>
</section>
 <script type="text/javascript">
  $(function(){
    addVideoContent();
    addPictureContent();
    unshareJump();
    deleteJumpUsershow("<%= @user.id %>");
    $( "#accordion" ).accordion({
      collapsible: true
    });
  });
</script>
