<h2>Welcome <%= @user.first_name %>!</h2>
<br/>
<div class="user-controls">
  <ul>
    <li><%= link_to "Add new jump", new_user_jump_path(@user) %></li>
    <li><%= link_to "View my logbook", user_jumps_path(@user) %></li>
    <li><%= link_to "Edit My Info", edit_user_path(@user) %></li>
    <li><%= link_to "Delete my account", user_path(@user), method: :delete, data: { confirm: "Are you sure?"} %></li>
  </ul>
</div>
<div id="calendar">
<%= month_calendar events: @jumps do |date, events| %>
  <%= date.day %>
  <% myjumps = events.select {|jump| jump.user_id == current_user.id} %>
  <ul>
    <% if myjumps.length > 0 %>
      <li><%= link_to "My jumps: #{myjumps.length}", jumps_of_the_day_user_jumps_path(@user, date: date, owner: "mine") %></li>
    <% else %>
      <li>My jumps: <%= myjumps.length %></li>
    <% end %>

    <% if events.length > 0 %>
      <li><%= link_to "Other jumps: #{events.length - myjumps.length}", jumps_of_the_day_user_jumps_path(@user, date: date, owner: "others") %></li>
    <% else %>
      <li>Other jumps: <%= events.length - myjumps.length %></li>
    <% end %>
  </ul>
  
<% end %>
</div>