<% jump_videos = @videos.where(jump_id: @jump.id) %>
    <% jump_videos.each do |t| %>
      <h2> And this is the video from the jump </h2>
      <iframe width="560" height="315" src="<%= t.video_url %>" frameborder="0" allowfullscreen></iframe>
      <form action="/jumps/<%= t.jump_id %>/videos/<%= t.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <button>Delete this video</button>
      </form>
    <% end %>
    <h4><%= link_to "Here you can add another video from this jump", new_jump_video_path %></h4>
  <%= link_to "Go back to the jump info", jump_path(@jump) %>