<p><strong>Add another picture for this jump</strong></p>
<%= form_for [@jump, @picture] do |v| %>
   <%= v.label :name %>
  <%= v.text_field :name %>

  <%= v.label :picture_url %>
  <%= v.text_field :picture_url %>

  <%= v.label :image_file, "Upload image" %>
  <%= v.file_field :image_file %>

  <%= v.submit class: "tiny button" %>
<% end %>