        <%= form_for [@user, @jump] do |f| %>
      <div class="new-jump-form">
        <p>Enter jump number </p>
        <%= f.number_field :jump_number %>
        <p>Enter the date </p>
        <%= f.date_field :date %>
        <p>Enter location </p>
        <%= f.text_field :location %>
        <p>Enter freefall time</p>
        <%= f.number_field :freefall_time %>
      </div>

      <div class="new-jump-form">
        <p>Enter equipment</p>
        <%= f.text_field :equipment %>
        <p>Enter aircraft</p>
        <%= f.text_field :aircraft %>
        <p>Enter you total freefall time</p>
        <%= f.number_field :total_freefall_time %>
        <p>Add notes</p>
        <%= f.text_field :notes %>
        <p>Add you exit alitutde </p>
        <%= f.number_field :exit_altitude %>
        <%= f.submit %>
      <% end %>
      </div>