<section class="row extra-wide" id="jumps-index">
  <div class="small-12 large-4 columns">
    <div id="calendar">
      <p id="month"><strong>
        <!-- flip calendar 1 month back -->
        <%= link_to "<<", user_jumps_path(date: @date - 1.month) %>
        <!-- this year and month -->
        <%= "#{@date.strftime("%B")} #{@date.year}" %>
        <!-- flip calendar a month forward -->
        <%= link_to ">>", user_jumps_path(date: @date + 1.month) %></strong>
      </p>
      <%= calendar @date do |date| %>
          <%= date.day %>
        <% my_jumps = Jump.where(date: date).select {|jump| jump.user_id == current_user.id} %>
        <!-- other jumps that are shared with me only -->
        <% other_jumps = Jump.where(date: date).select {|jump| jump.shared_users.include?(current_user) && User.exists?(jump.user_id)} %>
      <ul>
        <!-- show link and counter for my jumps if only they exist for current day cell in calendar -->
        <% if my_jumps.length > 0 %>
          <li><%= link_to "My jumps: #{my_jumps.length}", jump_day_user_jumps_path(@user, date: date, owner: "mine"), class: "mine" %></li>
        <% end %>
        <!-- same for other jumps -->
        <% if other_jumps.length > 0 %>
          <li><%= link_to "Other jumps: #{other_jumps.length}", jump_day_user_jumps_path(@user, date: date, owner: "others"), class: "others" %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="small-12 large-8 columns">
    <ul class="breadcrumbs">
      <li><%= link_to "All shared jumps", jump_day_user_jumps_path(@user, owner: "allothers"), id: "allothers" %></li>
    </ul>
    <div class="jumpList">
      
    </div>
  </div>
</section>

<script type="text/javascript">
  $(function(){
    // load templates with jumps beside calendar
    addMyJumps();
    addOtherJumps();
    addAllOtherJumps();
  });
</script>