<h4><%= link_to "Go back to list of jumps", user_jumps_path(@user) %></h4>
<div class="greeting">
  <h2>This is the jump number <%= @jump.jump_number %></h2>
</div>
<div class="jump_info">
  <ul class="jump-info-cell">
    <li>Date: <%= @jump.date.to_s %></li>
    <li>Location: <%= @jump.location %></li>
    <li>Freefall time: <%= @jump.freefall_time %></li>
    <li>Equipment: <%= @jump.equipment %></li>
    <li>Aircraft: <%= @jump.aircraft %></li>
    <li>Notes: <%= @jump.notes %></li>
    <li>Exit altitude: <%= @jump.exit_altitude %></li>
    <li>Total freefall time to date: <%= @jump.total_freefall_time %></li>
  </ul>
  <% if current_user.id == @jump.user_id %>
    <ul class="jump-info-cell">
      <% @jump.shared_users.each do |user| %>
        <li>Shared user name: <%= user.first_name %><%= link_to "X", unshare_jump_path(@jump, jump_user_id: user.id) %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="options">
  <p><%= link_to "Add new jump", new_user_jump_path(@user) %></p>
  <% if current_user.id == @jump.user_id %>
    <p><%= link_to "Edit this jump", edit_jump_path(@jump) %></p>
  <% end %>
  <% jump_videos = @videos.where(jump_id: @jump.id) %>
  <% if !jump_videos.empty? %>
    <p><%= link_to "Videos for this jump", jump_videos_path(@jump) %></p>
  <% else %>
  <% if current_user.id == @jump.user_id %>
   <p><%= link_to "Here you can add a video from this jump", jump_videos_path(@jump) %></p>
   <% end %>
  <% end %>
</div>


<div class="jump_pictures">
  <% if current_user.id == @jump.user_id %>
    <div class="new_pic_form">
      <%= render "pictures/form" %>
    </div>
  <% end %>
  <table class="pic-table">
    <thead><th colspan="4">My jump Pictures</th></thead>
    <tr>
      <% @pictures.each do |pic| %>
        <td><p><%= pic.name %></p><p><%= link_to image_tag(pic.picture_url), picture_path(pic, jump_id: @jump.id) %></p></td>
      <% end %>
    </tr>
  </table>
</div>
<% if current_user.id == @jump.user_id %>
<%= button_to "Delete this jump", jump_path(@jump, user_id: @user.id), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>