<h4><%= link_to "Go back to list of jumps", user_jumps_path %></h4>
<div class="greeting">
  <h2>This is the jump number <%= @jump.jump_number %></h2>
</div>
<div class="jump_info">
  <ul>
    <li>Date: <%= @jump.date.to_s %></li>
    <li>Location: <%= @jump.location %></li>
    <li>Freefall time: <%= @jump.freefall_time %></li>
    <li>Equipment: <%= @jump.equipment %></li>
    <li>Aircraft: <%= @jump.aircraft %></li>
    <li>Notes: <%= @jump.notes %></li>
    <li>Exit altitude: <%= @jump.exit_altitude %></li>
    <li>Total freefall time to date: <%= @jump.total_freefall_time %></li>
  </ul>
</div>

<div class="jump_list">
<ul>
<% @jumps.each do |j| %>
<li><%= link_to j.jump_number, user_jump_path(@user, j) %></li>
<% end %>
</ul>
</div>

<div class="options">
  <p><%= link_to "Add new jump", new_user_jump_path %></p>
  <% if current_user.id == @jump.user_id %>
    <p><%= link_to "Edit this jump", edit_user_jump_path(@user, @jump) %></p>
  <% end %>
  <% jump_videos = @videos.where(jump_id: @jump.id) %>
  <% if !jump_videos.empty? %>
    <p><%= link_to "Videos for this jump", user_jump_videos_path(jump_id: @jump.id) %></p>
  <% else %>
   <p><%= link_to "Here you can add a video from this jump", new_user_jump_video_path(jump_id: @jump.id) %></p>
  <% end %>
</div>


<div class="jump_pictures">
  <% if current_user.id == @jump.user_id %>
    <div class="new_pic_form">
      <%= render "pictures/form" %>
    </div>
  <% end %>
  <table >
    <thead><th colspan="4">My jump Pictures</th></thead>
    <tr>
      <% @pictures.each do |pic| %>
        <td><%= link_to image_tag(pic.picture_url), user_jump_picture_path(@user, @jump, pic) %></td>
      <% end %>
    </tr>
  </table>
</div>
<% if current_user.id == @jump.user_id %>
<%= button_to "Delete this jump", user_jump_path(@user, @jump), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>